.footer {
  background-color: #100F0F;
 
}
.lista-footer{
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-self: center;
  height: 200px;
  align-items: center;
}
.conteiner-footer{
  max-width: 1270px; 
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.texto-footer{
  color: #fff;
  font-size: 18px;
  font-family: "poppins";
  align-self: center;
}
