.formacao {
  background-color: #232323;
  position: relative;
}
.curso h4 {
  color: #f00000;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "roboto";
}
.curso {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: 20px;
}
.lista-curso li {
  padding: auto;
}
.lista-curso {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-row: span 2;
  justify-content: center;
  max-width: 1270px;
  margin-top: 100;
  margin: auto;
}
.lista-curso h3 {
  color: #fff;
  font-size: 42px;
  align-self: center;
  font-family: "roboto";
  margin-top: 90px;
}
.lista-curso p,
span {
  font-size: 24px;
  font-family: "poppins";
}

.curso {
  background-color: #d9d9d9;
  padding: 40px 60px;
  border-radius: 4px;
}

.conteiner-formacao {
  max-width: 1270px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formacao-lista {
  display: flex;
  flex-direction: column;
  align-self: center;
  grid-column: 1;
  grid-row: 2;
  gap: 20px;
  max-width: fit-content;
  justify-self: center;
}
.formacao-lista h3 {
  color: #fff;
  font-size: 2.625rem;
  font-family: "roboto";
  text-align: center;
  margin-bottom: 30px;
}
.formacao-lista p {
  font-size: 24px;
  font-family: "poppins";
}
.formacao-lista span {
  font-size: 24px;
  font-family: "poppins";
}
.subtitulo {
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 4rem;
  color: #c6c6c6;
  font-family: "roboto";
  position: relative;
  display: flex;
  align-items: center;
}
.formacao img {
  position: absolute;
  top: -40px;
}



@media (max-width: 1600px) {
  .subtitulo {
    font-size: 4rem;
  }
  .lista-curso h3 {
    font-size: 2rem;
  }
  .formacao-lista h3 {
    font-size: 2rem;
  }
  .curso h4 {
    font-size: 20px;
  }
  .curso p {
    font-size: 20px;
  }
  .curso span {
    font-size: 20px;
  }
  .curso {
    padding: 30px 40px;
  }
  .formacao img {
    max-width: 160px;
  }
}
@media (max-width: 1500px){
  .formacao img{
    max-width: 110px;
  }
}
@media (max-width: 1400px){
  .formacao img{
    max-width: 100px;
  }
  .subtitulo{
    font-size: 3.5rem;
    align-self: end;
    justify-content: end;
  }
}
@media (max-width: 1100px){
  .subtitulo{
    font-size: 3rem;
  }
}


@media (max-width: 1000px) {
  .subtitulo {
    font-size: 2.75rem;
  }
  .lista-curso h3 {
    font-size: 1.5rem;
  }
  .formacao-lista h3 {
    font-size: 1.5rem;
  }
  .curso h4 {
    font-size: 20px;
  }
  .curso p {
    font-size: 20px;
  }
  .curso span {
    font-size: 20px;
  }
  .curso {
    padding: 30px 40px;
  }
  .formacao img {
    max-width: 140px;
  }
}

@media (max-width: 900px) {
  
  .conteiner-formacao {
    display: grid;
    grid-template-columns: 1fr;
  }
  .subtitulo {
    font-size: 3rem;
    justify-content: center;
    }
  .lista-curso h3 {
    font-size: 1.125rem;
  }
  .formacao-lista h3 {
    font-size: 1.125rem;
  }
  .curso h4 {
    font-size: 20px;
  }
  .curso p {
    font-size: 20px;
  }
  .curso span {
    font-size: 20px;
  }
  .curso {
    padding: 30px 40px;
  }
  .formacao img {
    max-width: 110px;
    top: -35px
  }
  .curso {
    padding: 30px 50px;
  }
  .lista-curso{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
  }
  .lista-curso h3{
    font-size: 62px;
    justify-self: center;
    margin-top: 0px;
  }
  .formacao-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }
  .formacao-2 h3{
    font-size: 62px;
    justify-self: center;
    align-self: center;
  }
  .subtitulo{
    align-self: inherit;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .formacao{
    height: 1100px;
  }
}
@media (max-width: 700px){
  .formacao img{
    max-width: 100px;
    top: -30px
  }
  .curso {
    padding: 20px 25px;
  }
  .curso p{
    font-size: 18px;
  }
  .curso h4{
    font-size: 18px;
  }
  .conteiner-formacao h3{
    font-size: 52px;
  }
  .subtitulo {
    font-size: 40px;
  }
  .formacao{
    height: 1050px;
  }
}
@media (max-width: 600px){
  .formacao img{
    max-width: 80px;
    top: -25px
  }
  .curso {
    padding: 34px 20px;;
    gap: 10px;
  }
  .curso p{
    font-size: 16px;
  }
  .formacao-2.curso h4{
    font-size: 16px;
    
  }
  .conteiner-formacao h3{
    font-size: 32px;
  }
  .subtitulo {
    font-size: 32px;
  }
  .formacao-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .formacao-2 h3{
    margin: 0px;
  }
  .lista-curso{
    display: flex;
    flex-direction: column;
  }
  .formacao{
    height: 1200px;
  }
}
@media (max-width: 400px){
    .formacao img{
      max-width: 70px;
      top: -15px
    }
    .conteiner-formacao h2{
      font-size: 36px;
    }
}
@media (max-width: 300px){
  .conteiner-formacao h2{
    font-size: 32px;
  }
  .conteiner-formacao h3{
    font-size: 28px;
  }
}