.main {
  background-color: #1b1b1b;
  padding-top: 220px;
  padding-bottom: 220px;
}
.conteiner-main {
  display: grid;
  grid-template-columns: auto auto;
  height: 476px;
  padding: 90px 140px;
  gap: 80px;
  align-items: center;
  max-width: 1270px;
  margin: auto;
}


.main h1 {
  grid-column: 2;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 80px;
  color: #f5f5f5;
  position: relative;
  font-family: 'Source Code Pro', monospace;
}

.main p {
  font-family: "poppins";
  font-size: 1.5rem;
  color: #b4b4b4;
}
.main span {
  background: linear-gradient(180deg, #f95a00 0%, #e9192f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.main img {
  object-fit: cover;
  width: 367px;
  height: auto;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  max-height: auto;
}


.texto-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detalhe{
  font-size: 4.5rem;
  color: #f95a00;
}


@media (max-width: 1600px) {
  .main h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }
}
@media (max-width: 1400px) {
  
  .main h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
  .main img {
    object-fit: cover;
    width: 300px;
    height: auto;
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
    max-height: auto;
  }
  .main p {
    font-size: 1.2rem;
  }
  .main p span {
    font-size: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .conteiner-main {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0px;
    padding: 50px 90px;
    margin-top: 0px;
  }
  .main img {
    object-fit: cover;
    width: 200px;
    height: auto;
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  }

  @media (max-width: 1000px) {
    .conteiner-main {
      padding: 20px 40px;
    }
    .main{
      padding-top: 150px;
      padding-bottom: 150px;
    }
    .main img {
      object-fit: cover;
      width: 150px;
      height: auto;
      clip-path: polygon(
        50% 0%,
        90% 20%,
        100% 60%,
        75% 100%,
        25% 100%,
        0% 60%,
        10% 20%
      );
      max-height: auto;
    }
    .main h1 {
      font-size: 2rem;
    }
    .main p {
      font-size: 1rem;
    }
    .main p span {
      font-size: 1rem;
    }
  }
  @media (max-width: 700px) {
    .main h1 {
      font-size: 2rem;
    }
    .main p {
      font-size: 0.8rem;
    }
    .main p span {
      font-size: 0.8rem;
    }
    .conteiner-main{
      height: 350px;
    }
    .main{
      padding-top: 90px;
      padding-bottom: 90px;

    }
  }

@media (max-width: 500px) {
  .texto-main{
    gap: 10px;
  }
  .conteiner-main{
    height: 350px;
  }
  .conteiner-main{
    padding: 15px 20px;
  }
  .detalhe{
    font-size: 2.5rem;
  }

}
@media (max-width: 400px){
  .main h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .conteiner-main{
    padding: 15px 20px;
  }
  .main p {
    font-size: 14px;
  }
  
  .conteiner-main{
    height: 350px;
  }
}
