.conteiner-projetos{
  max-width: 1270px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.section-projetos{
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-projetos img{
  width: 250px;
  height: auto;
}

.flexblog{
  color: #fff;
  font-size: 68px;
  font-family: 'Nunito', sans-serif;
}

.section-projetos h2{
  font-size: 38px;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
  text-transform:uppercase;
  font-family: 'roboto';
}

@media (max-width:600px){
  .conteiner-projetos{
    flex-direction: column;
  }
  .section-projetos img{
    width: 150px;
    height: auto;
  }
}